/* Used https://www.w3schools.com/colors/colors_picker.asp for color picking */
/* Used Google Fonts Raleway for site font */

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

h1 {
  color: rgb(0, 230, 0);
  font-family: cursive;
  font-weight: 1000;
  font-size: 45px;
  display: inline;
}

h3 {
  display: inline;
}

#menu {
  display: none;
}

.logo {
  color: rgb(0, 230, 0);
  font-size: 40px;
  font-family: cursive;
  padding: 0;
  margin: 0;
}

.cover {
  background-image: url(images/coffee.jpg);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#plus {
  display: none;
}

/*Code for nav bar adapted form Flexbox guide examples: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/

.nav {
  display: flex;
  flex-direction: row;
  /*background: black;*/
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  /*margin-top: 12px;*/
}

nav ul a {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

nav ul a:hover {
  background-color: rgb(0, 230, 0);
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container2 {
  background: linear-gradient(to top, black, rgba(0,0,0,0));
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  margin-top: 22em;
}

.footer {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul a {
  display: block;
  padding: 1em;
}

footer ul a:hover {
  background-color: rgb(0, 230, 0);
}

/* Referenced https://www.w3schools.com/css/css3_buttons.asp for button styling, as well as
https://www.w3schools.com/cssref/css3_pr_border-radius.asp in order to design input, form and button */


#form {
  background-color: rgba(0,0,0,0.70);
  padding: 25px;
  /*margin-left: 400px;
  margin-right: 400px;*/
  border-radius: 15px;
  color: white;
  /*display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;*/
}

#button {
  background-color: rgb(0, 230, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 15px;
  font-size: 15px;
}

#input {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  border-radius: 15px;
  font-size: 15px;
}

#motto {
  color: white;
}

#signup {
  border: 1.5px solid white;
  border-radius: 5px;
}

.click-menu {
  display: none;
}

@media only screen and (max-width: 640px) {

  .nav {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #button {
    background-color: rgb(0, 230, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    font-size: 15px;
    width: 70%;
  }

  #input {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    font-size: 15px;
    width: 52%;
    /*min-width: 200px;*/
  }

  .flex-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*Gradient code adapted form - https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient*/

  .flex-container2 {
    background: linear-gradient(to top, black, rgba(0,0,0,0));
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 2em;
  }

  .dropdown {
    display: none;
  }

  .menu {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border: 1.5px solid white;
    border-radius: 5px;
  }

  #plus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
  }

  .flex-container2 ul li {
    display: none;
    list-style-type: none;
  }

  /* got help from Justin Gualtieri for this padding and the fa plus spacing */

  #plus li {
    padding-left: 15px;
  }

  div {
    list-style-type: none;
  }

  /*
  CSS checkbox code adapted from http://tutorialzine.com/2015/08/quick-tip-css-only-dropdowns-with-the-checkbox-hack/, Author: Danny Markov
  Lines 270-326 were based on code from the above ^ link
  */

  input[type=checkbox] {
    display: none;
  }

  .click-menu {
    position: relative;
    display: inline-block;
  }

  input[type=checkbox]:checked ~ label {
    background-color: rgb(0, 0, 102);
  }

  .click-menu ul {
    position: absolute;
    list-style: none;
    text-align: left;
    width: 100%;
    margin:0;
    padding:0;
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);*/
    display: none;
  }

  .click-menu ul li{
    padding: 15px;
    background-color: white;
    color: black;
    margin-bottom: 1px;
    cursor: pointer;
  }

  .click-menu ul li:hover{
      background-color: rgba(0,0,0,0.70);
      color: white;
  }

  .click-menu ul li a{
      color: inherit;
      text-decoration: none;
  }

  input[type=checkbox]:checked ~ ul {
      display: block;
  }

  label {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 18px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(0,0,0,0.70);
    color: white;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
    border-radius: 15px;
  }

}
