body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

h1 {
  color: green;
  font-family: cursive;
  font-weight: 1000;
  font-size: 45px;
  display: inline;
}

h3 {
  display: inline;
}

.logo {
  color: green;
  font-size: 40px;
  font-family: cursive;
  padding: 0;
  margin: 0;
}

.cover {
  background-image: url(images/coffee.jpg);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Code for nav bar adapted form Flexbox guide examples: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/

.nav {
  display: flex;
  flex-direction: row;
  /*background: black;*/
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  /*margin-top: 12px;*/
}

nav ul a {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-size: 15px;
  color: white;
}

nav ul a:hover {
  background-color: green;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container2 {
  background: linear-gradient(to top, black, rgba(0,0,0,0));
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  margin-top: 22em;
}

.footer {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul a {
  display: block;
  padding: 1em;
}

footer ul a:hover {
  background-color: green;
}

/* Referenced https://www.w3schools.com/css/css3_buttons.asp for button styling, as well as
https://www.w3schools.com/cssref/css3_pr_border-radius.asp in order to design input, form and button */


#form {
  background-color: rgba(0,0,0,0.70);
  padding: 25px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 15px;
  color: white;
  /*display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;*/
}

#button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 15px;
  font-size: 15px;
}

#input {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  border-radius: 15px;
  font-size: 15px;
}

/*#wrap {
  flex-basis: 100%;
}*/

#motto {
  color: white;
}

#signup {
  border: 1.5px solid white;
  border-radius: 5px;
}

@media only screen and (max-width: 640px) {

  .nav {
    margin-top: 0;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  #button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    font-size: 15px;
    width: 100%;
  }

  #input {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    font-size: 15px;
    min-width: 200px;

  }

  .flex-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*Gradient code adapted form - https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient*/

  .flex-container2 {
    background: linear-gradient(to top, black, rgba(0,0,0,0));
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 2em;
  }

  .dropdown {
    display: none;
  }

}
